<h1>Wordie</h1>
<table>
    <tr>
        <th th:text="${letter0}">Letter 1</th>
        <th th:text="${letter1}">Letter 2</th>
        <th th:text="${letter2}">Letter 3</th>
        <th th:text="${letter3}">Letter 4</th>
        <th th:text="${letter4}">Letter 5</th>
    </tr>
    <tr>
        <th th:text="${letterx}">Letter 1</th>
        <th th:text="${letterx}">Letter 2</th>
        <th th:text="${letterx}">Letter 3</th>
        <th th:text="${letterx}">Letter 4</th>
        <th th:text="${letterx}">Letter 5</th>
    </tr>
    <tr>
        <th th:text="${letterx}">Letter 1</th>
        <th th:text="${letterx}">Letter 2</th>
        <th th:text="${letterx}">Letter 3</th>
        <th th:text="${letterx}">Letter 4</th>
        <th th:text="${letterx}">Letter 5</th>
    </tr>
    <tr>
        <th th:text="${letterx}">Letter 1</th>
        <th th:text="${letterx}">Letter 2</th>
        <th th:text="${letterx}">Letter 3</th>
        <th th:text="${letterx}">Letter 4</th>
        <th th:text="${letterx}">Letter 5</th>
    </tr>
    <tr>
        <th th:text="${letterx}">Letter 1</th>
        <th th:text="${letterx}">Letter 2</th>
        <th th:text="${letterx}">Letter 3</th>
        <th th:text="${letterx}">Letter 4</th>
        <th th:text="${letterx}">Letter 5</th>
    </tr>
    <tr>
        <th th:text="${letterx}">Letter 1</th>
        <th th:text="${letterx}">Letter 2</th>
        <th th:text="${letterx}">Letter 3</th>
        <th th:text="${letterx}">Letter 4</th>
        <th th:text="${letterx}">Letter 5</th>
    </tr>
</table>
<input type="text" id="word" name="word" minlength="5" maxlength="5" size="10">
<input type="button" value="Submit">